*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/debug.json
*.json
*.json
*.json
*.json
app/build/intermediates/blame/res/debug/multi-v2/values-ml.json
app/build/intermediates/blame/res/debug/multi-v2/values-mn.json
app/build/intermediates/blame/res/debug/multi-v2/values-mr.json
app/build/intermediates/blame/res/debug/multi-v2/values-ms.json
app/build/intermediates/blame/res/debug/multi-v2/values-my.json
app/build/intermediates/blame/res/debug/multi-v2/values-nb.json
app/build/intermediates/blame/res/debug/multi-v2/values-ne.json
app/build/intermediates/blame/res/debug/multi-v2/values-night-v8.json
app/build/intermediates/blame/res/debug/multi-v2/values-nl.json
app/build/intermediates/blame/res/debug/multi-v2/values-pa.json
app/build/intermediates/blame/res/debug/multi-v2/values-pl.json
app/build/intermediates/blame/res/debug/multi-v2/values-port.json
app/build/intermediates/blame/res/debug/multi-v2/values-pt-rBR.json
app/build/intermediates/blame/res/debug/multi-v2/values-pt-rPT.json
app/build/intermediates/blame/res/debug/multi-v2/values-pt.json
app/build/intermediates/blame/res/debug/multi-v2/values-ro.json
app/build/intermediates/blame/res/debug/multi-v2/values-ru.json
app/build/intermediates/blame/res/debug/multi-v2/values-si.json
app/build/intermediates/blame/res/debug/multi-v2/values-sk.json
app/build/intermediates/blame/res/debug/multi-v2/values-sl.json
app/build/intermediates/blame/res/debug/multi-v2/values-sq.json
app/build/intermediates/blame/res/debug/multi-v2/values-sr.json
app/build/intermediates/blame/res/debug/multi-v2/values-sv.json
app/build/intermediates/blame/res/debug/multi-v2/values-sw.json
app/build/intermediates/blame/res/debug/multi-v2/values-sw600dp-v13.json
app/build/intermediates/blame/res/debug/multi-v2/values-ta.json
app/build/intermediates/blame/res/debug/multi-v2/values-te.json
app/build/intermediates/blame/res/debug/multi-v2/values-th.json
app/build/intermediates/blame/res/debug/multi-v2/values-tl.json
app/build/intermediates/blame/res/debug/multi-v2/values-tr.json
app/build/intermediates/blame/res/debug/multi-v2/values-uk.json
app/build/intermediates/blame/res/debug/multi-v2/values-ur.json
app/build/intermediates/blame/res/debug/multi-v2/values-uz.json
app/build/intermediates/blame/res/debug/multi-v2/values-v11.json
app/build/intermediates/blame/res/debug/multi-v2/values-v12.json
app/build/intermediates/blame/res/debug/multi-v2/values-v13.json
app/build/intermediates/blame/res/debug/multi-v2/values-v14.json
app/build/intermediates/blame/res/debug/multi-v2/values-v16.json
app/build/intermediates/blame/res/debug/multi-v2/values-v17.json
app/build/intermediates/blame/res/debug/multi-v2/values-v18.json
app/build/intermediates/blame/res/debug/multi-v2/values-v21.json
app/build/intermediates/blame/res/debug/multi-v2/values-v22.json
app/build/intermediates/blame/res/debug/multi-v2/values-v23.json
app/build/intermediates/blame/res/debug/multi-v2/values-v24.json
app/build/intermediates/blame/res/debug/multi-v2/values-v25.json
app/build/intermediates/blame/res/debug/multi-v2/values-v26.json
app/build/intermediates/blame/res/debug/multi-v2/values-vi.json
app/build/intermediates/blame/res/debug/multi-v2/values-xlarge-v4.json
app/build/intermediates/blame/res/debug/multi-v2/values-zh-rCN.json
app/build/intermediates/blame/res/debug/multi-v2/values-zh-rHK.json
app/build/intermediates/blame/res/debug/multi-v2/values-zh-rTW.json
app/build/intermediates/blame/res/debug/multi-v2/values-zu.json
app/build/intermediates/blame/res/debug/multi-v2/values.json
app/build/intermediates/blame/res/debug/single/debug.json
